<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>

		<property name="connection.url">jdbc:mysql://10.42.6.135:3306/BD_PFE</property>
		<property name="connection.username">root</property>
		<property name="connection.password">rootsql</property>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
		<property name="current_session_context_class">thread</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hbm2ddl.auto">create</property>
		<!-- Mapping the entities -->
		<mapping class="pfe.extraction.beans.Source" />
		<mapping class="pfe.extraction.beans.SourceBlog" />
		<mapping class="pfe.extraction.beans.SourceFacebook" />
		<mapping class="pfe.extraction.beans.Configuration" />
		<mapping class="pfe.extraction.beans.Tag" />

	</session-factory>
</hibernate-configuration>